GE_DoubleTapSwitch_Timer/GE_Timer_Flow.nodered
[{"id":"ab87c1.573e984","type":"tab","label":"Double Tap Lighting","disabled":false,"info":""},{"id":"9969ef3e.f826b","type":"mqtt in","z":"ab87c1.573e984","name":"Any Light Double Tap","topic":"OpenZWave/+/node/+/instance/1/commandclass/32/value/#","qos":"2","datatype":"auto","broker":"3370c456.fead8c","x":140,"y":160,"wires":[["22fa5c83.4f0814"]]},{"id":"22fa5c83.4f0814","type":"function","z":"ab87c1.573e984","name":"Define if message is current?","func":"//This function will set a variable msg.current to TRUE if the message timestamp is within a recent time in order to filter out retained messages\n//that may be received at deployment or startup.\n\n//Execution Time Variance : Since we are calulcation execution time we have to assume internet latency into the calc.  Nubmer below is second\nexecutionTimeVariance = 5;\n\n//Adjust variance for Milliseconds\nexecutionTimeVariance = 5 * 1000;\n\n\n//Get The Array of data from the payload \npayloadArray = JSON.parse(msg.payload);\n\nmsg.isCurrent = (payloadArray[\"TimeStamp\"] > ((Date.now() - executionTimeVariance) / 1000));\nmsg.requestOn = (payloadArray[\"Value\"] == 255);    \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["a8bffd01.cec04"]]},{"id":"a8bffd01.cec04","type":"switch","z":"ab87c1.573e984","name":"Is Message Current?","property":"isCurrent","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":160,"wires":[["23213d56.5f0e42"],[]]},{"id":"23213d56.5f0e42","type":"function","z":"ab87c1.573e984","name":"Get NodeID and Instance","func":"//Get the Entity and Instance\n\ntopicSplit = msg.topic.split(\"/\");\nmsg.node_id = parseInt(topicSplit[3]);\nmsg.ozw_instance = parseInt(topicSplit[1]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":160,"wires":[["f01d1370.3bb53"]]},{"id":"165b6913.d2baa7","type":"comment","z":"ab87c1.573e984","name":"Identify Double Tap and Turn on Light","info":"","x":230,"y":80,"wires":[]},{"id":"f01d1370.3bb53","type":"ha-get-entities","z":"ab87c1.573e984","server":"e4ec20e4.dd969","name":"","rules":[{"property":"attributes.node_id","logic":"is","value":"node_id","valueType":"msg"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":170,"y":220,"wires":[["14b2af6b.805cc1"]]},{"id":"14b2af6b.805cc1","type":"function","z":"ab87c1.573e984","name":"Find the Entity ID if we have multiples","func":"// if the array returned multiple entities we return the entry that is instance -1.  \n//Assuming that HomeAssistant is enumarting devices based on instance id first at least that is what\n//it looks like in my environment\nif (msg.payload.count > 1)\n{\n    msg.entity_id = msg.payload[(msg.ozw_instance -1 )].entity_id;\n}else\n{\n    msg.entity_id = msg.payload[0].entity_id;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":220,"wires":[["ac936beb.183db8"]]},{"id":"94ba5959.263d48","type":"function","z":"ab87c1.573e984","name":"Add To Double-Tap Array","func":"doubleTapArray = global.get(\"doubleTapArray\");\n\n//If Array does not exist create it\nif (doubleTapArray === null || doubleTapArray === undefined)\n{\n    doubleTapArray = [];\n}\n\ndoubleTapArray.push({'entity_id':msg.entity_id ,'requestOn': msg.requestOn });\n\n\n\n//Set the Context Variable\nglobal.set(\"doubleTapArray\",doubleTapArray);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["406548a0.a9c648"]]},{"id":"4fb2b808.7cbaa8","type":"api-call-service","z":"ab87c1.573e984","name":"Do It!!!","server":"e4ec20e4.dd969","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":280,"wires":[[]]},{"id":"357b6b99.ff3014","type":"function","z":"ab87c1.573e984","name":"clear doubleTapArray","func":"global.set(\"doubleTapArray\",[]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":20,"wires":[[]]},{"id":"7d7e0e50.c408c","type":"inject","z":"ab87c1.573e984","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":20,"wires":[["357b6b99.ff3014"]]},{"id":"406548a0.a9c648","type":"function","z":"ab87c1.573e984","name":"Generate Service Call","func":"\n//create the Service\ndomain = msg.entity_id.split(\".\")[0];\n\nif (msg.requestOn)\n{\n    service = \"turn_on\";\n}else\n{\n    service = \"turn_off\";\n}\nmsg.payload = { \"domain\": domain, \"service\": service, data: {\"entity_id\": msg.entity_id} }\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["4fb2b808.7cbaa8"]]},{"id":"ac936beb.183db8","type":"function","z":"ab87c1.573e984","name":"Determine if this device is a member of group.double_tap_switches","func":"switchesForDoubleTap = global.get('homeassistant').homeAssistant.states[\"group.double_tap_switches\"].attributes.entity_id;\n\nif (switchesForDoubleTap.includes(msg.entity_id))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":220,"wires":[["94ba5959.263d48"]]},{"id":"48a67a9d.0940d4","type":"server-state-changed","z":"ab87c1.573e984","name":"","server":"e4ec20e4.dd969","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":".","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":440,"wires":[["be91796c.e7efe8"],[]]},{"id":"be91796c.e7efe8","type":"function","z":"ab87c1.573e984","name":"Determine if this device is a member of group.double_tap_switches","func":"switchesForDoubleTap = global.get('homeassistant').homeAssistant.states[\"group.double_tap_switches\"].attributes.entity_id;\n\nif (switchesForDoubleTap.includes(msg.topic))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["8d148686.729918"]]},{"id":"8d148686.729918","type":"function","z":"ab87c1.573e984","name":"Set Double Tap State","func":"doubleTapArray = global.get('doubleTapArray');\n\nvar found = false;\nmsg.onByDoubleTap = false;\nfor(var i = 0; i < doubleTapArray.length; i++) {\n    \nif ((doubleTapArray[i].entity_id) === msg.topic) {\n     msg.onByDoubleTap = true;\n     break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":440,"wires":[["c5aebbca.b5e288"]]},{"id":"c5aebbca.b5e288","type":"switch","z":"ab87c1.573e984","name":"On By double Tap?","property":"onByDoubleTap","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":520,"wires":[["194f1b23.7731d5"],["4549c0d3.c7787"]]},{"id":"194f1b23.7731d5","type":"function","z":"ab87c1.573e984","name":"Remove the Double Tap Entry","func":"doubleTapArray = global.get(\"doubleTapArray\");\n\n\nfor(var i = 0; i < doubleTapArray.length; i++) {\n    \nif ((doubleTapArray[i].entity_id) === msg.topic) {\n     doubleTapArray.pop(i);\n     break;\n    }\n}\n\nglobal.set(\"doubleTapArray\", doubleTapArray);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":520,"wires":[[]]},{"id":"4549c0d3.c7787","type":"delay","z":"ab87c1.573e984","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":580,"wires":[["37cfa840.0c9f78"]]},{"id":"37cfa840.0c9f78","type":"function","z":"ab87c1.573e984","name":"Generate Service Call","func":"\n//create the Service\ndomain = msg.topic.split(\".\")[0];\n\n\nmsg.payload = { \"domain\": domain, \"service\": \"turn_off\", data: {\"entity_id\": msg.topic} }\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":580,"wires":[["4a140611.2330e8"]]},{"id":"4a140611.2330e8","type":"api-call-service","z":"ab87c1.573e984","name":"Do It!!!","server":"e4ec20e4.dd969","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":580,"wires":[[]]},{"id":"3ca6531e.08ebcc","type":"comment","z":"ab87c1.573e984","name":"On state change set the timer if not Double Tap","info":"","x":280,"y":380,"wires":[]},{"id":"3370c456.fead8c","type":"mqtt-broker","z":"","name":"mqtt.lo.cal","broker":"mqtt.lo.cal","port":"1883","tls":"afd1449f.500a98","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4ec20e4.dd969","type":"server","z":"","name":"HassOS","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"afd1449f.500a98","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"mqtt_ca.crt","servername":"mtt.lo.cal","verifyservercert":false}]